@font-face {
	font-family: 'OpenSans_SemiBold';
	src: local('☺'), url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans_Bold';
	src: local('☺'), url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand_Bold';
	src: url('../assets/fonts/Quicksand-Bold.eot');
	src: local('☺'), url('../assets/fonts/Quicksand-Bold.woff') format('woff'), 
	url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand__Medium';
	src: url('../assets/fonts/Quicksand-Medium.eot');
	src: local('☺'), url('../assets/fonts/Quicksand-Medium.woff') format('woff'), 
	url('../assets/fonts/Quicksand-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand_Regular';
	src: url('../assets/fonts/Quicksand-Regular.eot');
	src: local('☺'), url('../assets/fonts/Quicksand-Regular.woff') format('woff'), 
	url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_Medium';
	src: url('../assets/fonts/Roboto-Medium.eot');
	src: local('☺'), url('../assets/fonts/Roboto-Medium.woff') format('woff'), 
	url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_Regular';
	src: url('../assets/fonts/Roboto-Regular.eot');
	src: local('☺'), url('../assets/fonts/Roboto-Regular.woff') format('woff'), 
	url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

main,
nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	
	font-size: 100%;
	font-size: 10px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

progress {
	vertical-align: baseline;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

li::marker{
	content: "";
	text-align-last: none !important;
	unicode-bidi: none;
	font-variant-numeric: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

code,
kbd,
samp {
	font-size: 1em;
}

b,
strong {
	font-weight: bolder;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

/* -------header------- */

.header{
	border-bottom: 1px solid #D8E3FE;
}

.logo{
	width: 26px;
	height: 26px;
	margin-right: 70px;

	border-radius: 50%;
	background-color:#5E81FE;
}

.header__menu{
	min-height: 80px;

	background-color: #fff !important;
}

.header__socials{
	align-items: center;
}

.header__button{
	width: 110px;
	height: 40px;

	font: 12px/16px "Quicksand_Bold";
	color: #3A79FF;

	background: #D2E1FF;
	border:none;
	border-radius: 5px;
}

.header__menu-link{
	margin-right:30px;

	font: 12px/15px "Quicksand__Medium";
	letter-spacing: 0.05em;
	color: #697CA6 !important;

	text-shadow: 0px 0px 5px #E6E6E6;

	transition: color 500ms ease;
}

.header__menu-link:hover{
	color: #5E81FE !important;
}

.header__socials-items{
	margin-right: 25px;
}

.header__socials-items:last-child{
	margin-right: 45px;
}

.header__socials-icon{
	width: 9px;
	height: 17px;

	fill: #B6BAC7;

	transition: fill 500ms ease;
}

.header__socials-items:nth-child(2) .header__socials-link .header__socials-icon{
	width: 15px;
	height: 12px;
}

.header__socials-items:nth-child(3) .header__socials-link .header__socials-icon{
	width: 17px;
	height: 14px;
}

.header__socials-items:nth-child(4) .header__socials-link .header__socials-icon{
	width: 17px;
	height: 13px;
}

.header__socials-icon:hover{
	fill:#5E81FE;
}

@media(max-width:992px){
	.header__socials{
		flex-wrap: wrap;
	}
	.header__socials-items{
		margin-right: 5px;
	}
}

@media(max-width:1140px){
	.header__menu-link{
		margin-right: 15px;
	}

	.header__socials-items{
		margin-right: 15px;
	}
}

/* -------play------ */
.play{
	height: calc(100vh - 80px) ;
}
.moda {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1111;

	background-color: rgba(0, 0, 0, 0.5);

	visibility: hidden;
	opacity: 0;
	transition:visibility 500ms ease,opacity 500ms ease ;
}

.moda.active{
	visibility: visible;
	opacity: 1;
}

.modal__video {
	display: inline-block;
	width: 80%;
	border: 1px solid #000;

}

.play__inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-top: 90px;
}

.play--bg {
	background:
	url(../assets/images/play/Group\ 80.svg) 300px 400px no-repeat, 
	url(../assets/images/play/Ellipse.png)  15%  10% no-repeat, 
	url(../assets/images/play/Ellipse1.png) left 20% no-repeat, 
	url(../assets/images/play/Ellipse2.png) 18% 60% no-repeat, 
	url(../assets/images/play/Ellipse3.png) 95% 5% no-repeat, 
	url(../assets/images/play/Ellipse4.png) 90% 80% no-repeat, 
	url(../assets/images/play/Ellipse5.png) right 68% no-repeat, 
	linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
	
}
.play__text {
	font:10px/12px "Roboto_Medium";
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3D4F9F;
}

.title {
	font:48px/60px "Quicksand_Regular"; 
	text-align: center;
	color: #3D4F9F;
}

.title span{
	font-family: "Quicksand_Bold";
	color: #3D4F9F;
}

.text{
	font:15px/29px "Quicksand_Regular";
	text-align: center;
	letter-spacing: 0.03em;
	color: #8D96BD;
}

.play__text-inner {
	max-width: 502px;
	margin: 25px auto;
}

.play__button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;

	border-radius: 50%;
	background-color: #fff;
}

.play__button:hover .play__svg{
	fill: #1530c9;
}

.play__svg{
	width: 10px;
	height: 11px;

	fill: #5E81FF;

	transition: fill 500ms ease;
}

.play__bg{
	width: 100%;
	height: 100%;
}

.play__block{
	width: 100%;
	height: 100%;

	position:relative;
	top: 0;
	left:0;

	object-fit: cover;
	object-position: center;
}

.play__circle{
	width: 45px;
	height: 45px;
}

.play__circle--one{
	position:absolute;
	top: 82%;
	left: 7%;
}
.play__circle--two{
	position:absolute;
	top: 73%;
	left: 37%;
}

.play__circle--three{
	position:absolute;
	top: 34%;
	left: 60%;
}

.play__circle--four{
	position:absolute;
	top: 3%;
   left: 90%;
}

.play__img{
	position:absolute;
	top: 60%;
	left: 36%;
}
/* -------brands------- */


.header_row {
	min-height: 100px;
	border: 1px solid #000;
}

.header__brands-img{
	width: 117px;
	height: 29px;

	border: 1px solid #000;
	fill: #D6DAE5;

	transition: fill 500ms ease;
}

.header__brands:nth-child(2) .header__brands-link .header__brands-img{
	width: 117px;
	height: 25px;
}

.header__brands:nth-child(3) .header__brands-link .header__brands-img{
	width: 117px;
	height: 23px;
}

.header__brands:nth-child(4) .header__brands-link .header__brands-img{
	width: 117px;
	height: 25px;
}

.header__brands:nth-child(5) .header__brands-link .header__brands-img{
	width: 117px;
	height: 29px;
}

.header__brands-img:hover{
	animation: color 1500ms ease infinite;
}

@keyframes color{
	0%{
		fill:#fe5e5e;
	}
	50%{
		fill:#5E81FE;
	}

}

/* -------plan------- */

.plan {
	height: 100vh;
	min-height: 100vh;
}

.plan--bg {
	background: url('../assets/images/plan/bg.png')right 25vh  no-repeat;
}

.plan__container{
	height: 100%;
	display: flex;
	align-items: center;
}
.plan__inner {
	max-width: 490px;
}
.plan__text {
	font: 10px/12px "Roboto_Medium";
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3D4F9F;
}
.button {
	width: 130px;
	height: 45px;

	font:13px/16px "Quicksand_Bold";
	color: #FFFFFF;

	background: #4C85FF;
	box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
	border-radius: 2px;
}
.button__white{
	font-family: "Quicksand__Medium";
	color: #ADB4D2;

	background: #F5F8FF;
}

@media (max-width: 1140px){
	.plan--bg {
		background: url('../assets/images/plan/bg.png')right 5vh  no-repeat;
	}
	.plan__container{
		align-items: flex-end;
		padding: 0 0 100px 0;
	}
	
}

@media (max-width: 576px){
	.plan--bg {
		background: rgb(241, 207, 156);
	}
	.plan__container{
		align-items: center;
		padding: 0 15px 0 15px;
	}
	.plan__inner {
		max-width: none;
	}
}

/* -------footer------- */